<% if flash[:n] %>
	<div class="flash-message"><%= flash[:n] %></div>
<% end %>

<section>
	<h2 class="text-center">お問い合わせ</h2><br><br>
	<div class="login-box">
		<% if @question.errors.any? %>
	    	<ul>
	      		<% @question.errors.full_messages.each do |message| %>
	        		<li class="error-message"><%= message %></li>
	      		<% end %>
	    	</ul>
		<% end %>

		<%= form_for(@question) do |f| %>
			<div class="text-center">お名前</div>
			<div class="text-center">
				姓：<%= f.text_field :lastname, :size=>"20",placeholder:"例）　山田" %>　名：<%= f.text_field :firstname, :size=>"20",placeholder:"例）　太郎" %>
			</div><br>

			<div class="text-center">お名前（カナ）</div>
			<div class="text-center">
				セイ<%= f.text_field :kana_lastname, :size=>"20",placeholder:"例）　ヤマダ" %>　メイ<%= f.text_field :kana_firstname, :size=>"20",placeholder:"例）　タロウ" %>
			</div><br>

			<div class="text-center">メールアドレス</div>
			<div class="text-center">
				<%= f.text_field :mail, :size=>"40",placeholder:"例）　***@****.com" %>
			</div><br>

			<div class="text-center">電話番号（半角、ハイフンあり）</div>
			<div class="text-center">
				<%= f.text_field :phone, :size=>"40",placeholder:"例）　090-0000-0000" %>
			</div><br>

			<div class="text-center">お問い合わせ内容(１０００文字まで)<p id="textlength1">入力時、文字数が表示されます</p></div>
			<div class="text-center">
				<%= f.text_area :content, :size=>"60x15",onFocus: "countLength(value, 'textlength1');",onKeyUp: "countLength(value, 'textlength1');" %>
			</div><br>
			<div class="text-center">
				<%= f.submit "送信する" %>
			</div>
		<% end %>
	</div>
</section>