<section>
	<h2 class="text-center">＜会員一覧＞</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>名前</th>
				<th></th>
				<th>住所</th>
				<th>メールアドレス</th>
				<th>電話番号</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<% @users.each do |u| %>
			<tbody>
				<tr>
					<td><%= u.lastname %>　<%= u.firstname %></td>
					<td><%= u.kana_lastname %>　<%= u.kana_firstname %></td>
					<td>〒<%= u.postal_code %>　　<%= u.address %>　<%= u.address2 %></td>
					<td><%= u.email %></td>
					<td><%= u.phone %></td>
					<% if u.soft_destroyed_at == nil %>
						<td>有効</td>
					<% else %>
						<td>退会済</td>
					<% end %>
					<td><button><%= link_to "退会させる", :controller => "admin", :action => "admin_delete_user",:id => u.id %></button></td>
					<td><button><%= link_to "元に戻す",controller: "admin",action: "admin_up_user",id: u.id %></button></td>
					<td><button><%= link_to "購入情報", admin_user_show_path(u.id) %></button></td>
				</tr>
			</tbody>
		<% end %>
	</table>
</section>