<section>
	<h3>＜会員登録情報＞</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>名前</th>
				<th>住所</th>
				<th>メールアドレス</th>
				<th>電話番号</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @user.lastname %>　<%= @user.firstname %></td>
				<td><%= @user.address %><%= @user.address2 %></td>
				<td><%= @user.email %></td>
				<td><%= @user.phone %></td>
			</tr>
		</tbody>
	</table>
	<h3>＜購入情報＞</h3><br><br>
	<% if @records.presence == nil %>
		<p>購入履歴はありません</p>
	<% else %>
						<% @records.each do |record| %>
						<%= form_for record, url: record_path(record.id) do |f| %>
							<th>購入日:　 <%= record.created_at.strftime('%Y/%m/%d %H:%M') %></th><br>
							<th>商品:　　 <%= record.item.name %></th><br>
							<th>金額:　　 <%= number_to_currency(record.price, :unit => "￥", :precision => 0) %></th><br>
							<th>購入数:　 <%= record.count %></th><br>
							<th>合計金額: <%= number_to_currency(record.item.price*record.count, :unit => "￥", :precision => 0) %></th><br>
							<th>生産者:　 <%= record.item.person.lastname %>  <%= record.item.person.firstname %></th><br>
							<th>配送先:　 <%= record.delivery.lastname %><%= record.delivery.lastname %>　<%= record.delivery.postal_code %><%= record.delivery.address %><%= record.delivery.address2 %>　<%= record.delivery.phone %></th><br>
							<th>配送状況: <%= f.select :active, Record.actives_i18n.keys.map { |k| [Record.actives_i18n[k], k]} %></th>
							<th><%= f.submit "変更する" %></td><br><br><br>
						<% end %>
						<% end %>
	<% end %>
</section>


