<section>
	<div class="text-center border-line">＜支払い方法選択＞</div>
	<div class="text-center border-line"><input type="checkbox" name="nasi">振込(現在は振込のみとなっております)</div><br><br>
	<div class="text-center border-line">＜配送先入力＞</div>
	<%= form_for @delivery do |f| %>
			<div class="text-center">お名前</div>
		<div class="text-center">
			姓：<%= f.text_field :lastname,value: "#{current_user.lastname}", :size=>"20",placeholder:"例）　山田" %>　名：<%= f.text_field :firstname,value: "#{current_user.firstname}", :size=>"20",placeholder:"例）　太郎" %>
		</div><br>

		<div class="text-center">お名前（カナ）</div>
		<div class="text-center">
			セイ：<%= f.text_field :kana_lastname,value: "#{current_user.kana_lastname}", :size=>"20",placeholder:"例）　ヤマダ" %>　メイ：<%= f.text_field :kana_firstname,value: "#{current_user.kana_firstname}", :size=>"20",placeholder:"例）　タロウ" %>
		</div><br>
	<div class="h-adr">
  		<span class="p-country-name" style="display:none;">Japan</span>
		<div class="text-center">郵便番号</div>
		<div class="text-center">
			<%= f.text_field :postal_code, value: "#{current_user.postal_code}", class: "form_style form_input p-postal-code delivery-text",maxlength:"8" %>
		</div><br>
		<div class="text-center">住所</div>
		<div class="text-center"><%= f.text_field :address, value: "#{current_user.address}", class: "fform_style form_input p-region p-locality p-street-address p-extended-address delivery-text" %>
		</div>
	</div><br>
		<div class="text-center">建物名、マンション名,号室</div>
		<div class="text-center">
			<%= f.text_field :address2, value: "#{current_user.address2}", class: "delivery-text" %>
		</div><br>
		<div class="text-center">電話番号</div>
		<div class="text-center">
			<%= f.text_field :phone, value: "#{current_user.phone}" %>
		</div><br>
		<div class="text-center border-line">上記内容でお間違いなければ購入ボタンを押してください<br><br>
			<%= f.submit "購入する",class: "square_btn3" %>
		</div><br><br>
	<% end %>
</section>