<h2 class="text-center">＜会員一覧＞</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>名前</th>
			<th>住所</th>
			<th>メールアドレス</th>
			<th>電話番号</th>
		</tr>
	</thead>
	<% @users.each do |u| %>
	<tbody>
		<tr>
				<td><%= u.name %></td>
				<td><%= u.address %></td>
				<td><%= u.email %></td>
				<td><%= u.phone %></td>
				<td><%= link_to "購入履歴", admin_user_show_path(u.id) %></td>
		</tr>
	</tbody>
	<% end %>
</table>