<section><!--カテゴリで絞った画面-->
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="search-box">
					<p class="items-top">〜１３時までにご注文で本日お届け！！〜</p>
					<div><%= form_tag(category_path(@category), method: :get) do %><!--検索機能-->
	  					 ひらがなで検索：<%= text_field_tag :search, "", :placeholder => "例）とまと",size: 30 %>
	  					 <%= submit_tag "検索", :name => nil %><br>
						 <% end %>
					</div>
				</div>
			<h3 class="bold text-center"><%= @category.name %></h3><br><br>
			<% if @category.items.presence == nil %>
				<div class="text-center text-color category-text-font-size">現在掲載されている商品はありません</div>
			<% end %>
			<% @items.each do |item| %>
				<% if @category.id == item.category_id %>
					<div class="inline">
						<%= link_to item_path(item.id) do %>
							<div class="box"><%= attachment_image_tag item, :image, :fill, 200, 150 %></div>
						<% end %>
						<div><%= item.name %></div>
						<div class="item-price"><%= number_to_currency(item.price, :unit => "￥", :precision => 0) %></div>
						<% if item.stock == 0 %>
							<div class="bold">売り切れ</div>
						<% else %>
							<div>残り<%= item.stock %>個</div>
						<% end %>
					</div>
				<% end %>
			<% end %>
			</div>

			<div class="col-lg-2 col-lg-offset-1">
				<p class="category">カテゴリ別</p>
				<% @categories.each do |c| %>
					<%= link_to category_path(c.id) do %>
						<ul>
							<li class="cart-page"><%= c.name %></li><br>
						</ul>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</section>