<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
  </head>
  <body>
    <% if admin_signed_in? %>
    	<header class="admin-header"><!--ここから管理者のヘッダー-->
        <div class="container">
          <div class="row">
            <div class="head col-lg-2 admin-text">
              <%= link_to items_path do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> ホーム
              <% end %>
            </div>

            <div class="head col-lg-2 admin-text">
              <%= link_to introduction_path do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 農家さん紹介
              <% end %>
            </div>

            <div class="head col-lg-2 admin-text">
              <%= link_to new_question_path do %>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 問い合わせ
              <% end %>
            </div>

            <div class="head col-lg-2 admin-text">
              <%= link_to destroy_admin_session_path do %>
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> ログアウト
              <% end %>
            </div>

            <div class="dropdown head2 col-lg-2 col-lg-offset-1"><!--管理者メニューボタン-->
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                管理者メニュー <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <%= link_to new_person_path do %>
                  <li>生産者情報登録</li>
                <% end %>
                <%= link_to new_item_path do %>
                  <li>商品情報登録</li>
                <% end %>
                <%= link_to people_path do %>
                  <li>生産者一覧</li>
                <% end %>
                <%= link_to mypage_index_path do %>
                  <li>会員一覧</li>
                <% end %>
                <%= link_to questions_path do %>
                  <li>問い合わせ一覧</li>
                <% end %>
                <%= link_to new_category_path do %>
                  <li>カテゴリ登録</li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </header><!-- 管理者のヘッダー終わり -->
    <% else %>
      <header><!--ここからユーザーのヘッダー-->
        <div class="container">
          <div class="row">
            <div class="head col-lg-2">
              <%= link_to items_path do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> ホーム
              <% end %>
            </div>

            <div class="head col-lg-2">
              <%= link_to introduction_path do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 農家さん紹介
              <% end %>
            </div>

            <div class="head col-lg-2">
              <%= link_to new_question_path do %>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 問い合わせ
              <% end %>
            </div>
            <% if user_signed_in? %><!--ユーザーログイン画面へのリンク。ログイン後はユーザーログアウトボタン表示-->

              <div class="head col-lg-2">
                <%= link_to carts_path do %>
                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> カート
                <% end %>
              </div>

              <div class="head col-lg-2">
                <%= link_to destroy_user_session_path do %>
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> ログアウト
                <% end %>
              </div>

              <div class="head col-lg-2 head-text" >
                <%= link_to mypage_path do %>
                  <div>ようこそ、<%= current_user.lastname %>様</div>
                <% end %>
              </div>

            <% else %>

              <div class="head col-lg-2">
                <%= link_to new_user_session_path do %>
                  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> ログイン
                <% end %>
              </div>

              <div class="head col-lg-2">
                <%= link_to new_user_registration_path do %>
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 新規会員登録
                <% end %>
              </div>

              <div class="head col-lg-2 head-text2">ようこそ、ゲスト様</div>

            <% end %>
          </div>
        </div>
      </header><!-- ユーザーのヘッダー終わり -->
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
    <% if admin_signed_in? %>
      <footer class="admin-footer">
        <p>© 2018 shop</p>
      </footer>
    <% else %>
      <footer>
        <p>© 2018 shop</p>
        <%= link_to new_admin_session_path do %>
          <div>管理者ページ</div>
        <% end %>
      </footer>
    <% end %>
  </body>
</html>
